<div class="container-fluid">
  <div class="card border-0">
    <div class="card-body">
      <h1><%= @idea.title %></h1>
      <p class="card-text"><%= @idea.description %></p>
      <%= link_to "Edit", edit_idea_path(@idea.id), class: "btn btn-warning" %>
      <%= link_to "Delete", idea_path(@idea.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>