<div class="container-fluid mt-3">
  <div class="card border-0">
    <div class="card-body">
      <h3><%= @idea.title %></h3>
      <p class="card-text"><%= @idea.description %></p>
    </div>
  </div>
</div>